*.mp4
*.png
.vscode
*.h5
**/evaluation-results-pytorch/
output/sleap_skeleton
__pycache__
.DS_Store
test.py
projects/*/dlc-models-pytorch
*.mkv
*.pickle
design.md
projects/rat_pose/train_dropin copy.yaml

projects/rat/test_snap
projects/rat/test_video
projects/rat/.kalman_fit_cache/**
projects/rat/AI/**